$light-gray: #F3F3F3;
$light-blue: #57aeeb;
$green: #8fbc8f;
$soft-green: #42b983;
$pink: #bc8f8f;
$sea-green: #8fbcbc;
$dark-green: #44945b;
$dark-orange: #ec8246;
$dark-grayish-blue: #2c3644;
$fire-brick: #B22222;
$boston-university-red: #cc0000;